* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.app_card {
  padding: 40px 30px;
  text-align: center;
  border: 2px solid darkblue;

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(3n) {
    border-right: none;
  }

  &:nth-child(-n + 3) {
    border-top: none;
  }

  &:nth-last-child(-n + 3) {
    border-bottom: none;
  }

  .app_icon {
    font-size: 46px;
    color: #1f3c88;
    margin-bottom: 20px;
  }

  .app_title {
    font-size: 18px;
    color: #1f3c88;
    margin-bottom: 10px;
  }

  .app_suptitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
    width: 160px;
  }

  .app_text {
    font-size: 13px;
    color: #777;
  }
}
